<div class="section-wrapper alumni-list">
  <h3>Alumni Records</h3>
  
  <table id="alumni-datatable">
    <thead>
      <th>Name</th>
      <th>Gender</th>
      <th>Batch</th>
      <th>Program</th>
      <th>Course</th>
      <th>Category</th>
    </thead>
    <tbody>
      <% for(index in public.alumni._data.list) { %>
        <% person = public.alumni._data.list[index] %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.gender %></td>
          <td><%= person.batch %></td>
          <td><%= person.program %></td>
          <td><%= person.course %></td>
          <td><%= person.category %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>

<script>
  $(document).ready( function () {
    $('#alumni-datatable').DataTable({
      responsive: true
    });
    
  });
</script>